<!DOCTYPE html>
<html>
<head>
    <!-- Seus cabeçalhos, links para CSS e outros elementos do cabeçalho vão aqui -->
</head>
<body>
    <div class="container">
        <div class="content">
            <img src="assets/login1.jpg" alt="Imagem do logo">
            <h1>*nome doguinho*:
            <h2><button id="" class="btn btn-secondary">Vacinas</button></h2>
            <h2><button id="" class="btn btn-secondary">Consultas</button></h2>
            <h2><button id="" class="btn btn-secondary">Banho e Tosa</button></h2>
            <h2><button id="" class="btn btn-secondary">Pendentes</button></h2>

        </h1>
        <h1><button id="" class="btn btn-secondary">Voltar</button></h1>
        </div>
    </div>
</body>
</html>

