
<div class="container">
    <mat-card>
        <mat-card-title>Entre em contato:</mat-card-title>
        <div class="contact-form">
            <mat-form-field>
                <mat-label>Contato</mat-label>
                <input [(ngModel)]="nome" name= "nome" placeholder="Nome" matInput required>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Email</mat-label>
                <input [(ngModel)]="email" name = "email" type="email" placeholder="Email" matInput required>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Mensagem</mat-label>
                <textarea [(ngModel)]="mensagem" name = "mensagem" placeholder="Mensagem" matInput></textarea>
              </mat-form-field>

              <button mat-raised-button (click)="enviarFormulario()"color="primary">Enviar</button>
            </div>
    </mat-card>
</div>
