<!DOCTYPE html>
<html>
<head>
    <!-- Seus cabeçalhos, links para CSS e outros elementos do cabeçalho vão aqui -->
</head>
<body>
    <div class="container">
        <div class="content">
            <br><h1>Carteira de Vacinação Virtual</h1>
            <br><h2>VacinaCão / VacinaCat</h2>
            <img src="assets/CateDog.png" alt="Imagem do CateDog">
            <br><h3>Cuidar do amiguinho é a melhor forma de carinho</h3>

            <section>
              <div  class = "example-button-row">
              <a href='http://localhost:4200/login'> <button mat-raised-button color ="primary" target = "_blank">INICIAR</button> </a>
              </div >
            </section >

        </div>
    </div>
</body>
</html>

