<!DOCTYPE html>
<html>
<head>
    <!-- Seus cabeçalhos, links para CSS e outros elementos do cabeçalho vão aqui -->
</head>
<body>
    <div class="container">
        <div class="content">
            <img src="assets/Picture6.jpg" alt="Imagem do logo">
            <h1>Banho e Tosa</h1>
            <h3>Data: <input name="userAPP" placeholder = "Nome" matInput type="date"></h3>
            <h3>Horário: <input name="userAPP" placeholder = "Nome" matInput type="time"></h3>

            <div class="servicos">
              <h3>Serviços: </h3>
            <select matNativeControl required class="opcoes">
            <option value="banho">Banho</option>
            <option value="tosa">Tosa</option>
            <option value="banhoetosa">Banho e Tosa</option>
            </select>
            </div>

        </div>

            <br><button class="btn btn-secondary1">VOLTAR</button>
            <button class="btn btn-secondary2">SALVAR</button>

    </div>
</body>
</html>
