<!--!DOCTYPE html>
<html>
<head>
    <!-- Seus cabeçalhos, links para CSS e outros elementos do cabeçalho vão aqui -->
<!--/head>
<body>
    <div class="container">
        <div class="content">
            <img src="assets/login1.jpg" alt="Imagem do logo">
            <br><h1>Escolha uma das Opções: <br>
             <br><div class="wrap">  <button class="button">Atualizar Endereço</button></div>
             <br><div class="wrap">  <button class="button">Cadastrar Pet</button></div>
             <br><div class="wrap">  <button class="button">Meus Pets</button></div>
             <br><div class="wrap">  <button class="button">Logout</button></div>

          </h1>

        </div>

    </div>
</body>
</html>-->
