<!DOCTYPE html>
<html>
<head>
    <!-- Seus cabeçalhos, links para CSS e outros elementos do cabeçalho vão aqui -->
</head>
<body>
    <div class="container">
        <div class="content">
            <img src="assets/login1.jpg" alt="Imagem do logo">
            <br><h1>DADOS TUTOR</h1>
            <h3>Nome Dono: <input name="userAPP" placeholder = "Nome Tutor" matInput></h3>
            <h3>Endereço: <input name="userAPP" placeholder = "Endereço" matInput></h3>
            <h3>Telefone: <input name="userAPP" placeholder = "Telefone" matInput type="tel"></h3>

        </div>
            <br><button class="btn btn-secondary1">VOLTAR</button>
            <button class="btn btn-secondary2">SALVAR</button>
    </div>
</body>
</html>





