<!DOCTYPE html>
<html>
<head>
    <!-- Seus cabeçalhos, links para CSS e outros elementos do cabeçalho vão aqui -->
</head>
<body>
    <div class="container">
        <div class="content">
            <img src="assets/Picture7.jpg" alt="Imagem do logo">
            <br><h1>Consultas</h1><br>
            <h3> Cidade: <input name="userAPP" placeholder = "Nome" matInput type="text"></h3>
            <h3> Clínica: <input name="userAPP" placeholder = "Nome" matInput type="text"></h3>
            <h3> Data: <input name="userAPP" placeholder = "Data" matInput type="date"></h3>
        </div>

            <br><button class="btn btn-secondary1">VOLTAR</button>
            <button class="btn btn-secondary2">SALVAR</button>

    </div>
</body>
</html>
